
@font-face {
    font-family: "ExtraBold";  
    src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;}

@font-face {
    font-family: "SemiBold";  
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;}

@font-face {
    font-family: "Medium";  
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;}

    @font-face {
        font-family: "Bold";  
        src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;}
.header{
    
    background-image: url(../assets/img/backround_header.png);
    background-size: cover;
    height: 700px;
}

.nav {
    font-family: Medium;
  display: inline-block;
  width: 611px;
  padding-left: 700px;
  padding-top: 20px;
  font-size: 16px;
  
  }
  .nav li{
    
     float: right; /* Выстраивание элементов списка в один ряд. */
     margin-right: 15px; /* создание отступов для того, чтобы не сливались пункты меню. */
     font-size: 14px; /* Размер текста в ссылках. */  
     text-decoration: none;
  }
  
  .nav li a {
    padding: 10px 15px;
    color: rgb(255, 253, 253);
    text-decoration: none; 
    position: relative; 
  }

  .main{
      text-align: center;
      padding-top: 155px;
      color: aliceblue;
      
  }

  .btn__logo{
      border: 1px solid #4985FF;
      background-color: #4985FF;
      text-decoration: none;
      color: white;
      font-size: 16px;
      padding:10px 15px;
      margin-top: 20px;
      font-family: medium;
      border-radius: 30px;
  }

  h1{
      font-size: 48px;
      font-family: ExtraBold;
  }

  .logo__text{
    font-size: 16px;
    line-height: 20px;
    font-family: Medium;
  }

  .block2{
    padding-top: 30px;
   width: 100%;
   

  }

  .text2{
      text-align: center;
      margin-bottom: 80px;
     
  }

  h2{
    padding-bottom: 20px;
font-family: Bold;
font-style: normal;
font-size: 30px;

  }

  .stat__item{
      width: 33.33%;
      float: left;
      display: flex;
      text-align: left;
     
      
  }

  .container{
      width: 1143px;
      margin: 0 auto;
      padding: 0 15px;
  }


p{
    color: silver;
    font-family: medium;
}

.flex{
	display: flex;
	width: 33.33%;
	max-width: 700px; /* макс ширина блока */
	margin: 0 auto; /* выравниваем блок по центру */
	font-size:400%;
}

.mainitem{

	display: flex; 
    justify-content: center; 
    align-items: center; /* цифры по центру */
}

.mainitem{
	min-height:50px; /* высота основного блока */
}

.sideitem{
			   
	
	display: flex;
	flex-direction: column;
}

.item{

    justify-content: center;
    padding-top: 20px;
	flex-basis:50%;
    font-family: Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    padding-left: 20px;
}

.item1{
    flex-basis: 50%;
    padding-left: 20px;
}
.item:first-child{ margin-bottom:10px; }

.container{
    padding-bottom: 30px;
}

.btm2{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
.btn__container{
   
    border: 1px solid #4985FF;
    background-color: #4985FF;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding:10px 15px;
    font-family: medium;
    border-radius: 30px;
    
    
}

.block3{
    display: flex;
    width: 100%;
    background: #F6F6F8;
    display: flex;
    justify-content: space-between;
   
}

  .block3__img{
    
    width: 50%;
    margin: 0px;
    padding-bottom: 110px;
    
    
  }

  .block3__item{
    max-width: 100%;
    width: 100px;
    padding-top: 100px;
    
  
  }

  .block3__text{
 
    width: 50%;
    padding-left: 180px;
    padding-top: 160px;
    margin: 0px;
    
  }

  h3{
      font-family: Bold;
      font-size: 36px;

  }

  .class__btn3{
      font-family: medium;
      font-size: 16px;
  }

  .line{
    border: 1px solid #E0E0E0;
    width: 1110px;
height: 0px;
position: absolute;
  }



  .stat__item2{
    padding-top: 60px;
	display: flex; 
    justify-content: center; 
    align-items: center; /* цифры по центру */
}

.mainitem2{
	min-height:50px; /* высота основного блока */
    width: 50px;
}

.sideitem2{
	display: flex;
	flex-direction:row;
}

.item2{

    justify-content: center;
    padding-top: 20px;
	flex-basis:50%;
    font-family: Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    padding-left: 20px;
}

.item3{
    flex-basis: 50%;
    padding-left: 20px;
}
.item2:first-child{ margin-bottom:10px; }

